span{
  color: white;
}

button{
  margin-bottom: 20px;
}

.contenerLogo{
  position: absolute;
  top: 0%;
  left: 0px;
}

.contenerLogo img{
  width: 90px;
  height: auto;
}

.contenerLogo div{
  color: white;
}

.grid{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.col-12{
  padding: 0 15px;
  box-sizing: border-box;
}

.enlaceTagA{
  color: white;
}

