span {
  color: white;
}

button {
  width: 100%;
  margin-top: 5px;
}

.grid {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.col-12 {
  padding: 0 15px;
  box-sizing: border-box;
}

.enlaceTagA {
  color: white;
}

mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}
