<mat-toolbar>
  <div class="contenedorLogo">
    <img src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-8b7b8.appspot.com/o/images%2Flogo.jpg?alt=media&token=d0833348-4d22-4cc6-b8d1-a172fea273e8" alt="logo de la empresa">
    <span>La sala de juegos</span>
  </div>
  <div class="contenedorBotones">
    <button mat-button aria-label="ícono de hogar" (click)="navegarA('/home')">
      <mat-icon>home</mat-icon>
      Home
    </button>

    @if (!auth.currentUser?.email){
      <button mat-button aria-label="ícono de entrar" (click)="navegarA('/login')">
        <mat-icon>login</mat-icon>
        Login
      </button>
    }

    @if (!auth.currentUser?.email){
      <button mat-button aria-label="ícono de registro" (click)="navegarA('/registro')">
        <mat-icon>app_registration</mat-icon>
        Registro
      </button>
    }

    <button mat-button aria-label="ícono de chat">
      <mat-icon>chat</mat-icon>
      Sala de chat
    </button>

    <button mat-button aria-label="ícono de persona" (click)="navegarA('/quienSoy')">
      <mat-icon>person</mat-icon>
      Quien Soy
    </button>

    @if (auth.currentUser?.email){
      <button mat-button aria-label="ícono de salir" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    }

  </div>
</mat-toolbar>

