<app-header></app-header>

<div class="contenedorLogo">
  <img src="assets/logo.jpg" alt="logo de la empresa">
  <div class="text-lg mb-6">La sala de juegos</div>
</div>

@if (auth.currentUser?.email){
  <h1>Bienvenido {{auth.currentUser?.email}}</h1>
} @else{
  <h1>Nuestros juegos destacados {{auth.currentUser?.email}}</h1>
}

<div class="contenedorPrincipal grid">
  <mat-card *ngFor="let juego of juegos">
    <mat-card-header>
        <mat-card-title>
          <strong>{{ juego.nombre }}</strong>
        </mat-card-title>
    </mat-card-header>

    <div class="contenedorImgCard">
      <img mat-card-image [src]="juego.imagen" alt="imagen del juego" class="card-image">
    </div>

    <mat-card-content class="mt-2">
      <p>
        {{ juego.descripcion }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button>JUGAR</button>
    </mat-card-actions>
  </mat-card>
</div>

