h1{
  color: white;
  text-align: center;
  padding-top: 5px;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

.contenedorPrincipal {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}

.card{
  border: lightblue 5px solid;
  overflow: hidden;
  transition: all 400ms ease;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.card:hover{
  transform: translateY(-4%);
}

.cardHeader{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

img {
  width: 60%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.contenedorImgCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
}

