<app-header></app-header>

<div class="grid p-4">
  <div class="col-12 mb-12 mt-5 md:col-6 md:col-offset-3 md:mt-8">
    <div class="flex flex-column">
      <span class="text-lg mb-2">Login</span>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario" [(ngModel)]="usuario">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" [(ngModel)]="contrasenia">
      </mat-form-field>

      <button mat-button mat-flat-button color="primary"
        (click)="login()">
        <mat-icon>login</mat-icon>
        Ingresar
      </button>

      <button mat-button mat-flat-button color="accent"
        (click)="autoCompletarUsuario(0)">
        <mat-icon>edit</mat-icon>
        Usuario 1
      </button>

      <button mat-button mat-flat-button color="accent"
        (click)="autoCompletarUsuario(1)">
        <mat-icon>edit</mat-icon>
        Usuario 2
      </button>

      <button mat-button mat-flat-button color="warn"
        (click)="autoCompletarUsuario(2)">
        <mat-icon>edit</mat-icon>
        Admin
      </button>

      <div class="flex justify-content-end mt-2">
        <a routerLink="/registro" class="enlaceTagA">¿No tenés cuenta?</a>
      </div>
    </div>
  </div>
</div>
