<div class="contenerLogo">
  <img src="assets/logo.jpg" alt="logo de la empresa">
  <div class="text-lg mb-6">La sala de juegos</div>
</div>

<div class="grid p-4">
  <div class="col-12 mb-12 mt-5 md:col-6 md:col-offset-3 md:mt-8">
    <div class="flex flex-column">
      <span class="text-lg mb-2">Login</span>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario" [(ngModel)]="usuarioAValidar">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" [(ngModel)]="contraseniaAValidar">
      </mat-form-field>

      <button mat-button mat-flat-button color="primary"
        (click)="onLogin(usuarioAValidar,contraseniaAValidar)">
        <mat-icon>login</mat-icon>
        Ingresar
      </button>

      <button mat-button mat-flat-button color="accent"
        (click)="autoCompletarUsuario()">
        <mat-icon>edit</mat-icon>
        Login Usuario 1
      </button>

      <button mat-button mat-flat-button color="accent"
        (click)="autoCompletarUsuario()">
        <mat-icon>edit</mat-icon>
        Login Usuario 2
      </button>

      <button mat-button mat-flat-button color="warn"
        (click)="autoCompletarUsuario()">
        <mat-icon>edit</mat-icon>
        Login Admin
      </button>

      <div class="flex justify-content-end mt-2">
        <a routerLink="/registro" class="enlaceTagA">¿No tenés cuenta?</a>
      </div>
    </div>
  </div>
</div>
