span{
  color: white;
}

button{
  margin-bottom: 15px;
}

.botonesAutocompletar{
  background-color: rgb(183, 235, 255);
}

.grid{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.col-12{
  padding: 0 15px;
  box-sizing: border-box;
}

.enlaceTagA{
  color: white;
}
