body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorLogo {
  text-align: center;
  margin-bottom: 1rem;
}

.contenedorLogo img {
  width: 10rem;
  height: auto;
}

#contenedorPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
}

.divFoto {
  flex: 1 1 30%;
  text-align: center;
  margin: 1rem;
}

.foto {
  width: 100%;
  max-width: 15rem;
  height: auto;
  border-radius: 50%;
}

.divTexto {
  flex: 1 1 60%;
  margin: 1rem;
}

.divTexto h1 {
  color: #e73306;
  font-size: 2rem;
}

.divTexto p {
  color: #f0eded;
  font-size: 1rem;
  line-height: 1.5;
}

.divHabilidades {
  color: #068de7;
  margin-top: 1rem;
}

.divHabilidades h3 {
  font-size: 1.5rem;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.5rem;
  color: #f6f6f7;
}

.icon-container i {
  margin-right: 0.5rem;
}

.contenerLogo {
  position: absolute;
  top: 75px;
  left: 10px;
}

.contenerLogo img {
  width: 100px;
  height: auto;
}

.contenerLogo div {
  color: white;
}
