<app-header></app-header>

<div id="contenedorPrincipal" class="contenedor-flex">

  <div class="divFoto">
      <img [src]="miFotoUrl" alt="About Img" class="foto"/>
  </div>

  <div class="divTexto">
      <h1>¿Quien soy?</h1>
      <p>
        Mi nombre es Marcos Zalazar. Soy estudiante avanzado de la Tecnicatura Universitaria en
        programación de la Universidad Tecnológica Nacional. También soy Contador Público y Lic. en
        Administración, egresado de la Universidad de Buenos Aires. Cuento con más de 14 de años de
        experiencia trabajando en estudios contables de distinto tamaños, y ahora estoy dando mis
        primeros pasos en el apasionante mundo de la programación
      </p>
      <div class="divHabilidades">
        <h3>Habilidades técnicas destacadas</h3>
        <div class="icon-container">
          <i class="fab fa-html5"></i> HTML5
          <i class="fab fa-css3-alt"></i> CSS3
          <i class="fab fa-js"></i> JavaScript
          <i class="fab fa-angular"></i> Angular
          <i class="fab fa-python"></i> Python
        </div>
      </div>
      <div class="explicacionJuego">
        <h5>Explicación del Wordle</h5>
        <p>
          Wordle es un juego de palabras en el que los jugadores deben adivinar una palabra en seis
          intentos. En mi versión en particular, las palabras son nombres de países en español. Después
          de cada intento, el juego da algunas pistas: las letras correctas en la posición correcta se
          marcan en verde, las letras correctas en la posición incorrecta se marcan en amarillo, y las
          letras incorrectas se marcan en gris. El objetivo es encontrar la palabra correcta utilizando
          las pistas de las letras resaltadas de los intentos anteriores. La estrategia
          consiste en deducir la palabra mediante pruebas y errores, teniendo en cuenta las letras y
          sus posiciones. Cuanto más rápido el jugador adivine la palabra, más puntos obtendrá.
        </p>
      </div>
  </div>
</div>

