<app-header></app-header>

<div class="contenerLogo">
  <img src="assets/logo.jpg" alt="logo de la empresa">
  <div class="text-lg mb-6">La sala de juegos</div>
</div>

<div id="contenedorPrincipal">

  <div class="divFoto">
      <img src="assets/miFoto.jpg" alt="About Img"/>
  </div>

  <div class="divTexto">
      <h1>¿Quien soy?</h1>
      <p>
        Mi nombre es Marcos Zalazar. Soy estudiante avanzado de la Tecnicatura Universitaria en
        programación de la Universidad Tecnológica Nacional. También soy Contador Público y Lic. en
        Administración, egresado de la Universidad de Buenos Aires. Cuento con más de 14 de años de
        experiencia trabajando en estudios contables de distinto tamaños, y ahora estoy dando mis
        primeros pasos en el apasionante mundo de la programación
      </p>
      <div class="divHabilidades">
        <h3>Habilidades técnicas destacadas</h3>
        <div class="icon-container">
          <i class="fab fa-html5"></i> HTML5
          <i class="fab fa-css3-alt"></i> CSS3
          <i class="fab fa-js"></i> JavaScript
          <i class="fab fa-angular"></i> Angular
          <i class="fab fa-python"></i> Python
        </div>
      </div>
  </div>
</div>

